Package: hello-dbgsym
Package-Type: ddeb
Source: hello
Version: 2.10-2ubuntu5
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 47
Depends: hello (= 2.10-2ubuntu5)
Section: debug
Priority: optional
Description: debug symbols for hello
Build-Ids: b60deaed86a62e7e2e4fd8c0134230dec88d64cc
Original-Maintainer: Santiago Vila <sanvila@debian.org>
